WBA_2_Phase2/src/Musikseite.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="musikseite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="date"/>
              <xs:element name="comments">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="timestamp"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="songs">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="interpret"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="genre"/>
              <xs:element type="xs:string" name="releasedate"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="rate"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="filter">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nutzer"/>
              <xs:element type="xs:string" name="titel"/>
              <xs:element type="xs:string" name="stil"/>
              <xs:element type="xs:string" name="datum"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>