WBA_2_Phase2/src/xmlxsd/Comment.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comment" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="user"/>
              <xs:element type="xs:string" name="date"/>
              <xs:element type="xs:string" name="text"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>